html {
  font-size: 18px;
  color: red;
}

.header {
  width: 100%;
  background-color: black;
  margin: 0;
}

.container, .navbar {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

#logo {
  align-self: center;
  margin-left: .5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

 p, a {
  display: inline-block;
  font-size: 1rem;
  margin-top: .66rem;
  margin-bottom: .66rem;
  font-family: helvetica;
}

a {
  color: pink;
}

#landing-image {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}

#landing-div {
  position: relative;
  width: 20rem;
  background-color: black;
  top: 9rem;
  padding: 2rem 3rem;
}

#landing-div h5, h1 {
  font-family: helvetica;
  font-size: 1rem;
  color: yellow;
  font-weight: bold;
}

#landing-div h1 {
  font-size: 2rem;
  margin-top: .25rem;
}

nav {
  background-color: firebrick;
}

.navbar, #main-content {
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar a {
  margin-top: .75rem;
  margin-bottom: .75rem;
  text-decoration: none;
}

#main-content {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  padding-top: 2rem;
  border: 4px solid black;
  overflow: hidden;
}

.item img {
  max-height: 9rem;
  min-height: auto;
  max-width: 9rem;
  margin: auto;
}

.item-description {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  width: 100%;
  background-color: black;
}
.item p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.main-content-div {
  width: 35%;
  margin-top: 3rem;
}

.text-div {
  padding: 1rem 2rem;
  background-color: black;
}

.main-content-div .text-div p {
  color: blue;
  margin: 0;
}

.main-content-div p {
  color: green;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin: 0;
  background-color: black;
}

footer .container {
  flex-grow: 1;
}

@media only screen and (min-width: 1025px) {
  #navbar {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .container, .navbar {
    max-width: 1024px;
  }

  .navbar {
    justify-content: center;
  }

  #navbar-desktop {
    display: none;
  }

  .item {
    width: 47%;
  }

  #item3 {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
    .container, .navbar {
    max-width: 470px;
  }

  #landing-image {
    height: 15rem;
  }

  #landing-div {
    top: 10rem;
    width: 100%;
    padding: 1rem 2rem;
  }

  #landing-div h5, h1 {
    font-size: .77rem;
  }

  #landing-div h1 {
    font-size: 1rem;
  }

  #main-content {
    justify-content: center;

  }

  #item2 {
    display: none;
  }

  .item {
    width: 90%;
  }

  .main-content-div {
    width: 90%;
  }

  footer .container {
    justify-content: center;
  }
}
